program: train_ldm.py  # The main Python script to run
method: bayes           # Use grid search for precise control over discrete values
metric:
  name: sample_diversity/pairwise_mse_mean
  goal: maximize

run_cap: 5

parameters:
  lr:
    values: [3.0e-5, 5.0e-5]      # Test the two most stable learning rates
  ldm_base_ch:
    values: [96, 128]             # Test the stable and higher capacity model sizes
  ldm_ch_mults:
      values: ["1,2,4", "1,2,4,4"]
  ldm_num_res_blocks:
    values: [1, 2]
  ldm_attn_res:
    values: ["16", "16,8"]
  ema_decay:
      values: [0.999, 0.99]
  prob_uncond:
    values: [0.1, 0.2]            # Label dropout for Classifier-Free Guidance (CFG)
  guidance_scale:
    values: [3.0, 5.0]            # CFG scale for sampling

# --- Fixed Arguments (Passed to train_ldm.slurm via environment) ---
command:
  - python
  - ${program}
  - ${args}
  - --wandb
  - --task
  - ALL_CXR
  - --class_filter
  - "-1"          # Quotes strictly needed for negative numbers in YAML lists
  - --data_root
  - /datasets/mmolefe/cleaned
  - --ae_ckpt_path
  - runs/unified-ae-128-z4_z4_20251008-161725/20251008-170121/ckpts/last.flax
  - --ae_config_path
  - runs/unified-ae-128-z4_z4_20251008-161725/20251008-170121/run_meta.json
  - --latent_scale_factor
  - "0.997570"
  - --epochs
  - "1000"
  - --use_ema